- model_class = @residential.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @residential.name
%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  = @residential.address
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @residential.description
%p
  %strong= model_class.human_attribute_name(:enabled) + ':'
  %br
  = @residential.enabled
%p
  %strong= model_class.human_attribute_name(:password) + ':'
  %br
  = @residential.password
%p
  %strong= model_class.human_attribute_name(:residential_type_id) + ':'
  %br
  = @residential.residential_type_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), residentials_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_residential_path(@residential), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), residential_path(@residential), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
