= form_for @admin, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :user_name, :class => 'control-label'
    .controls
      = f.text_field :user_name, :class => 'text_field'
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.text_field :password, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :residential_id, :class => 'control-label'
    .controls
      = f.number_field :residential_id, :class => 'number_field'
  .control-group
    = f.label :admin_status_id, :class => 'control-label'
    .controls
      = f.number_field :admin_status_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admins_path, :class => 'btn'
