= form_for @admin do |f|
  -if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :user_name
    = f.text_field :user_name
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :residential_id
    = f.number_field :residential_id
  .field
    = f.label :admin_status_id
    = f.number_field :admin_status_id
  .actions
    = f.submit 'Save'
