= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :enabled
    = f.text_field :enabled
  .field
    = f.label :telephone
    = f.number_field :telephone
  .field
    = f.label :habitants_number
    = f.number_field :habitants_number
  .field
    = f.label :residential_id
    = f.number_field :residential_id
  .field
    = f.label :user_status_id
    = f.number_field :user_status_id
  .actions
    = f.submit 'Save'
