%h1 Listing agents

%table
  %tr
    %th Name
    %th Password
    %th Description
    %th Residential
    %th
    %th
    %th

  - @agents.each do |agent|
    %tr
      %td= agent.name
      %td= agent.password
      %td= agent.description
      %td= agent.residential_id
      %td= link_to 'Show', agent
      %td= link_to 'Edit', edit_agent_path(agent)
      %td= link_to 'Destroy', agent, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Agent', new_agent_path
